/**********************************
WEB FONTS
**********************************/
@font-face{
  font-family: 'MinionPro-Regular';
  src:url('/static/fonts/MinionPro-Regular.otf') format('opentype');
}



/*********************************
GENERAL
*********************************/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  position: relative;
  width:100%;
  height:100%;
}

body{
  /*width:100%;
  height:100%;*/
  display:flex;
  min-height:100vh;
  flex-direction: column;
  padding:0;
  margin:0;
  background-color: #F7A046;
  color: #2B2E34;
  font-family: 'MinionPro-Regular';
}

a{
  text-decoration: none;
  color:#2B2E34;
}

img{
  max-width:100%;
}

#content{
  flex:1;
}
/*****************************
NAVBAR
******************************/
.navbar,.footer{
  display: -webkit-flex;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.pillar-img{
  width:30%;
  margin-top:10px;
  padding-left:5px;
  padding-right:5px;

}

#nav-name,#footer-name{
  width:40%;
}

#nav-name h3,#footer-name h3{
  text-align:center;
  font-size:0.9em;
}

.navbar p,footer p{
  width:100%;
  text-align: center;
  margin-top:-25px;
}


/*****************************
Home Page
*****************************/
#home-page-links{
  text-align:center;
  width:100%;
}
