@media screen and (min-width: 375px) {
  #footer-name p{
    font-size:1em;
  }
}

@media screen and (min-width: 768px) {
    .container{
      flex-direction: row;
      justify-content:space-between;
      width:75%;
      flex-wrap: wrap;
      margin:0 auto;
    }
    .gallery-img{
      width:40%;
    }
}
